In [2]:
pip install openai-python

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement openai-python (from versions: none)
ERROR: No matching distribution found for openai-python

In [1]:
import pandas as pd

In [3]:
df_total = pd.read_csv("C:/Users/whdrk/OneDrive/문서/GitHub/alpaco5_Project_library/1_DB/data/total.csv")
df = pd.read_csv("helper/data/db.csv")

C:\Users\whdrk\AppData\Local\Temp\ipykernel_3952\22743089.py:1: DtypeWarning: Columns (12,15,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_total = pd.read_csv("C:/Users/whdrk/OneDrive/문서/GitHub/alpaco5_Project_library/1_DB/data/total.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532952 entries, 0 to 532951
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            532952 non-null  int64
 1   ISBN_NO               532952 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  532952 non-null  int64
 3   TITLE_NM              532952 non-null  object
 4   AUTHR_NM              532924 non-null  object
 5   PUBLISHER_NM          529818 non-null  object
 6   BOOK_INTRCN_CN        436845 non-null  object
 7   Combined              76835 non-null   object
 8   KDC_1                 532952 non-null  object
dtypes: int64(3), object(6)
memory usage: 36.6+ MB

C:\Users\whdrk\AppData\Local\Temp\ipykernel_3952\22743089.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("helper/data/db.csv")

In [5]:
df.columns

Index(['Unnamed: 0', 'ISBN_NO', 'MUMM_LON_HALFLIFE_CO', 'TITLE_NM', 'AUTHR_NM',
       'PUBLISHER_NM', 'BOOK_INTRCN_CN', 'Combined', 'KDC_1'],
      dtype='object')

In [4]:
df_total.columns

Index(['Unnamed: 0', 'BOOK_MASTR_SEQ_NO', 'ISBN_NO', 'MUMM_LON_HALFLIFE_CO',
       'MXMM_LON_HALFLIFE_CO', 'AVRG_LON_HALFLIFE_CO', 'BOOK_CO',
       'ISBN_THIRTEEN_NO', 'TITLE_NM', 'AUTHR_NM', 'PUBLISHER_NM', 'SEQ_NO',
       'ADTION_SMBL_NM', 'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'LON_CO',
       'Combined', 'KDC_1', 'KDC_12', 'KDC_123'],
      dtype='object')

In [34]:
df_total[df_total['LON_CO'] > 6500]

Empty DataFrame
Columns: [Unnamed: 0, BOOK_MASTR_SEQ_NO, ISBN_NO, MUMM_LON_HALFLIFE_CO, MXMM_LON_HALFLIFE_CO, AVRG_LON_HALFLIFE_CO, BOOK_CO, ISBN_THIRTEEN_NO, TITLE_NM, AUTHR_NM, PUBLISHER_NM, SEQ_NO, ADTION_SMBL_NM, IMAGE_URL, BOOK_INTRCN_CN, KDC_NM, LON_CO, Combined, KDC_1, KDC_12, KDC_123]
Index: []

[0 rows x 21 columns]

In [15]:
df_total.drop(df_total[df_total['LON_CO'] > 6500].index,inplace=True)

In [32]:
df_total[df_total['MUMM_LON_HALFLIFE_CO'] > 6000]

Empty DataFrame
Columns: [Unnamed: 0, BOOK_MASTR_SEQ_NO, ISBN_NO, MUMM_LON_HALFLIFE_CO, MXMM_LON_HALFLIFE_CO, AVRG_LON_HALFLIFE_CO, BOOK_CO, ISBN_THIRTEEN_NO, TITLE_NM, AUTHR_NM, PUBLISHER_NM, SEQ_NO, ADTION_SMBL_NM, IMAGE_URL, BOOK_INTRCN_CN, KDC_NM, LON_CO, Combined, KDC_1, KDC_12, KDC_123]
Index: []

[0 rows x 21 columns]

In [33]:
df_total[df_total['MUMM_LON_HALFLIFE_CO'] < 490]

Empty DataFrame
Columns: [Unnamed: 0, BOOK_MASTR_SEQ_NO, ISBN_NO, MUMM_LON_HALFLIFE_CO, MXMM_LON_HALFLIFE_CO, AVRG_LON_HALFLIFE_CO, BOOK_CO, ISBN_THIRTEEN_NO, TITLE_NM, AUTHR_NM, PUBLISHER_NM, SEQ_NO, ADTION_SMBL_NM, IMAGE_URL, BOOK_INTRCN_CN, KDC_NM, LON_CO, Combined, KDC_1, KDC_12, KDC_123]
Index: []

[0 rows x 21 columns]

In [27]:
#df_total.drop(df_total[df_total['MUMM_LON_HALFLIFE_CO'] > 6000].index,inplace=True)

In [28]:
#df_total.drop(df_total[df_total['MUMM_LON_HALFLIFE_CO'] < 490].index,inplace=True)

In [31]:
#df_total.to_csv("total_modified.csv", index = False)

In [37]:
#df_total.drop(["BOOK_MASTR_SEQ_NO","MXMM_LON_HALFLIFE_CO","AVRG_LON_HALFLIFE_CO","BOOK_CO","ISBN_THIRTEEN_NO"], axis=1,inplace=True)

In [38]:
#df_total.drop(['SEQ_NO','ADTION_SMBL_NM','IMAGE_URL','KDC_NM','LON_CO','KDC_12', 'KDC_123'], axis=1,inplace=True)

In [1]:
df_total.head()

NameError: name 'df_total' is not defined

In [ ]:
#df_total.to_csv("db_modified.csv", index = False)

In [6]:
df[df['MUMM_LON_HALFLIFE_CO'] > 6000]

,Unnamed: 0,ISBN_NO,MUMM_LON_HALFLIFE_CO,TITLE_NM,AUTHR_NM,PUBLISHER_NM,BOOK_INTRCN_CN,Combined,KDC_1
17,17,9788982412578,6189,(아주 특별한)비주얼베이직6 게임과 프로젝트,Kebicampus 저,이한출판사,중급자를 위한 비주얼 베이직6 교재이다. 비주얼 베이직 6를 활용한 게임 프로그래밍...,NaN,5
18,18,9788982412622,6595,(데이터베이스 응용프로그램 개발을 위한)Access 2000과 Visual Basi...,승현우 저,이한출판사,데이터베이스 관리를 위한 프로그래밍을 배우기 위한 책이다. 다양한 예제를 통해 Ac...,NaN,0
22,22,9788982412691,6255,컴퓨터활용의 첫걸음:컴퓨터의 기초 윈도우즈와 인터넷 한글,송영재...[등]저,이한출판사,컴퓨터를 잘 활용하기 위하여 반드시 알아야 할 기초적인 내용으로 컴퓨터를 전공하지 ...,NaN,4
29,29,9788983502179,6476,Bell 5차원 성경적 교육,이홍남;원동연 [공]지음,예영커뮤니케이션,기독교 교육서. 교육에 관심이 많은 이들을 위한 기독교 교육서이다.,NaN,2
33,33,9788931418484,6089,드림위버로 만드는 홈페이지,영진교재개발팀 저,영진닷컴,"드림위버로 만드는 홈페이지 교재. 드림위버에 대한 기본 개념, 화면 구조와 환경 설...",NaN,0
...,...,...,...,...,...,...,...,...,...
509135,509135,9788952929341,6234,이니셜 D,Shuichi Shigeno 저 ;설은미 역,학산문화사,NaN,NaN,8
509151,509151,9788952714176,6628,우물쭈물 하지마!,Hideyuki Yonehara 글·그림;황윤주 역,시공사,NaN,NaN,8
513378,513378,9791185213354,6236,황혼의 연가 :시농의 생애와 문향,지은이: 남대석,고글,NaN,NaN,8
521557,521557,9788949305714,6052,콜레스테롤 증가 예방과 치료 요양식,현대건강연구회 편,太乙出版社,NaN,NaN,5
526856,526856,9788983899019,6443,디지털 전자회로,이원석;김기남 공저,NaN,NaN,NaN,5

In [13]:
df.drop(df[df['MUMM_LON_HALFLIFE_CO'] > 6000].index,inplace=True)

In [14]:
df[df['MUMM_LON_HALFLIFE_CO'] > 6000]

Empty DataFrame
Columns: [Unnamed: 0, ISBN_NO, MUMM_LON_HALFLIFE_CO, TITLE_NM, AUTHR_NM, PUBLISHER_NM, BOOK_INTRCN_CN, Combined, KDC_1]
Index: []

In [ ]:
#df.to_csv("db_Modified.csv", index = False)

In [4]:
df_new = pd.read_csv("C:/Users/whdrk/OneDrive/문서/GitHub/alpaco5_Project_library/3_Webui/chatbot/db_modified.csv")

C:\Users\whdrk\AppData\Local\Temp\ipykernel_4992\4182279763.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new = pd.read_csv("C:/Users/whdrk/OneDrive/문서/GitHub/alpaco5_Project_library/3_Webui/chatbot/db_modified.csv")

In [5]:
df_new.head()

,Unnamed: 0,ISBN_NO,MUMM_LON_HALFLIFE_CO,TITLE_NM,AUTHR_NM,PUBLISHER_NM,BOOK_INTRCN_CN,Combined,KDC_1
0,0,9788975486456,2765,(L=MS²학문의 기원)學習學,韓駿相 著,학지사,학습학 사상과 원형을 탐구한 책. 배우고 익히는 인간의 아름다움과 동시에 실천이라는...,NaN,3
1,1,9788976820624,807,골콘다,존 브룩스 지음;이동진 옮김,그린비,30년 넘게 미국 대학에서 금융.증권의 교재로 쓰이던 는 1920년~1938년의 월...,NaN,3
2,2,9788977990401,835,건축기술 실무이야기:건축구조·시공/신기술·신공법,삼성물산 건설부문 저,공간예술사,건축기술 지침서. 건축구조 지식의 학습과 적용에 대한 의식전환이 필요하다는 인식하에...,NaN,5
3,3,9788972783497,2566,(일상으로 본)조선시대 이야기,정연식 지음,청년사,NaN,NaN,9
4,4,9788932105635,2806,주님의 기도:해설,로마노 구아르디니 저;이석은 역,가톨릭출판사,별다른 의미 없이 기도를 반복하는 신자들을 위해 영혼들에게 깨달음을 주는 기도해설서...,NaN,2

In [5]:
df_total_modified = pd.read_csv("C:/Users/whdrk/OneDrive/문서/GitHub/alpaco5_Project_library/3_Webui/chatbot/total_modified.csv")

C:\Users\whdrk\AppData\Local\Temp\ipykernel_5608\1295987423.py:1: DtypeWarning: Columns (12,15,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_total_modified = pd.read_csv("C:/Users/whdrk/OneDrive/문서/GitHub/alpaco5_Project_library/3_Webui/chatbot/total_modified.csv")

In [6]:
df_total_modified.columns

Index(['Unnamed: 0', 'BOOK_MASTR_SEQ_NO', 'ISBN_NO', 'MUMM_LON_HALFLIFE_CO',
       'MXMM_LON_HALFLIFE_CO', 'AVRG_LON_HALFLIFE_CO', 'BOOK_CO',
       'ISBN_THIRTEEN_NO', 'TITLE_NM', 'AUTHR_NM', 'PUBLISHER_NM', 'SEQ_NO',
       'ADTION_SMBL_NM', 'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'LON_CO',
       'Combined', 'KDC_1', 'KDC_12', 'KDC_123'],
      dtype='object')