In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('data/NL_LON_HALFLIFE_2020.csv')
df2 = pd.read_csv('data/NL_ON_SPECIES_ANALYSIS_MASTER_202112.csv')

c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df1['BOOK_MASTR_SEQ_NO'] =df1['BOOK_MASTR_SEQ_NO'].astype(float)
# df1['ISBN_NO'] = df1['ISBN_NO'].astype(str)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103283 entries, 0 to 1103282
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   BOOK_MASTR_SEQ_NO     1103283 non-null  float64
 1   ISBN_NO               1103283 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  1103283 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  1103283 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  1103283 non-null  int64
 5   BOOK_CO               1103283 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 50.5 MB

In [4]:
df2['BOOK_MASTR_SEQ_NO'] = df2['BOOK_MASTR_SEQ_NO'].astype(float)
# df2['ISBN_THIRTEEN_NO'] = df2['ISBN_THIRTEEN_NO'].astype(str)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090755 entries, 0 to 1090754
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   BOOK_MASTR_SEQ_NO  1090755 non-null  float64
 1   CTRL_NO            1090754 non-null  object
 2   ISBN_THIRTEEN_NO   1090755 non-null  object
 3   TITLE_NM           1090755 non-null  object
 4   AUTHR_NM           1090755 non-null  object
 5   PUBLISHER_NM       1090755 non-null  object
 6   VLM_NM             278284 non-null   object
 7   PBLCATE_DE         1090722 non-null  object
 8   IMAGE_URL          924837 non-null   object
 9   LON_CO             1090755 non-null  int64
 10  ISBN_ORGT_NO       939378 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 91.5+ MB

In [5]:
# 두 데이터프레임을 머지
merged_df = pd.merge(df1, df2, left_on='BOOK_MASTR_SEQ_NO', right_on='BOOK_MASTR_SEQ_NO', how='inner')
# merged_df = pd.merge(df1, df2, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='inner')
# merged_df['BOOK_CO'].unique()
merged_df

,BOOK_MASTR_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_CO,MXMM_LON_HALFLIFE_CO,AVRG_LON_HALFLIFE_CO,BOOK_CO,CTRL_NO,ISBN_THIRTEEN_NO,TITLE_NM,AUTHR_NM,PUBLISHER_NM,VLM_NM,PBLCATE_DE,IMAGE_URL,LON_CO,ISBN_ORGT_NO
0,116165.0,9788975486456,2765,5281,4463,8,KMO200135104,9788975486456,(L=MS²학문의 기원)學習學,韓駿相 著,학지사,NaN,2001,http://image.aladin.co.kr/product/30/12/cover/...,369,8975486451
1,116168.0,9788976820624,807,6521,4891,43,KMO200135105,9788976820624,골콘다,존 브룩스 지음;이동진 옮김,그린비,NaN,2001,http://image.aladin.co.kr/product/30/4/cover/8...,837,8976820622
2,116171.0,9788977990401,835,6759,4555,60,KMO200135087,9788977990401,건축기술 실무이야기:건축구조·시공/신기술·신공법,삼성물산 건설부문 저,공간예술사,NaN,2001,http://image.aladin.co.kr/product/28/98/cover/...,1234,8977990408
3,116175.0,9788972783497,2566,4133,3334,7,KMO200135089,9788972783497,(일상으로 본)조선시대 이야기,정연식 지음,청년사,NaN,2001,NaN,152,8972783498(세트)
4,116177.0,9788932105635,2806,2806,2806,1,KMO200135096,9788932105635,주님의 기도:해설,로마노 구아르디니 저;이석은 역,가톨릭출판사,NaN,2001,http://image.aladin.co.kr/product/29/95/cover/...,187,8932105634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735957,5929100.0,9791164137527,20,32,25,5,KJU201910254,9791164137527,흔한남매,원작: 흔한남매 ;그림: 유난희,미래엔,7,2019,https://image.aladin.co.kr/product/26556/36/co...,13779,NaN
735958,5929445.0,9791164137510,23,23,23,2,KJU202102669,9791164137510,산불에서 살아남기,글: 포도알친구 ;그림: 한현동,미래엔,2,2020-2021,https://image.aladin.co.kr/product/26541/43/co...,5776,NaN
735959,5929593.0,9791190234139,6,6,6,1,KMO202114410,9791190234139,보이지 않는 것들,로이 야콥센 지음 ;공민희 옮김,잔,NaN,2021,https://image.aladin.co.kr/product/26548/89/co...,578,NaN
735960,5930481.0,9788954677837,6,6,6,1,KMO202116269,9788954677837,더 좋은 곳으로 가자 :능력에 요령을 더하면 멋지게 갈 수 있다,정문정 지음,문학동네,NaN,2021,https://image.aladin.co.kr/product/26602/23/co...,3270,NaN
735961,5955207.0,9791197226113,84,84,84,1,KJU202102329,9791197226113,설민석의 세계사 대모험,"글: 설민석,그림: 박성일",단꿈아이,1,2020,NaN,25,NaN

In [6]:
# merged_df # 709476 row 살아남음  (df1 1050109, df2 1090754)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 735962 entries, 0 to 735961
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BOOK_MASTR_SEQ_NO     735962 non-null  float64
 1   ISBN_NO               735962 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  735962 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  735962 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  735962 non-null  int64
 5   BOOK_CO               735962 non-null  int64
 6   CTRL_NO               735962 non-null  object
 7   ISBN_THIRTEEN_NO      735962 non-null  object
 8   TITLE_NM              735962 non-null  object
 9   AUTHR_NM              735962 non-null  object
 10  PUBLISHER_NM          735962 non-null  object
 11  VLM_NM                213406 non-null  object
 12  PBLCATE_DE            735960 non-null  object
 13  IMAGE_URL             630919 non-null  object
 14  LON_CO                735962 non-null  int64
 15  ISBN_ORGT_NO          687182 non-null  object
dtypes: float64(1), int64(6), object(9)
memory usage: 95.5+ MB

In [7]:
merged_df.to_csv('usedata.csv')