In [2]:
import pandas as pd

In [39]:
df_Half = pd.read_csv("data/NL_LON_HALFLIFE_2020.csv")

In [40]:
df_Half.head()

,BOOK_MASTR_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_CO,MXMM_LON_HALFLIFE_CO,AVRG_LON_HALFLIFE_CO,BOOK_CO
0,116165,9788975486456,2765,5281,4463,8
1,116168,9788976820624,807,6521,4891,43
2,116171,9788977990401,835,6759,4555,60
3,116175,9788972783497,2566,4133,3334,7
4,116177,9788932105635,2806,2806,2806,1

In [5]:
df_Detail_2019 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_bo_species_master_new_2019 - 복사본.csv")

In [6]:
df_Detail_2019.head()

,?master_seq,isbn13,vol,title,author,publisher,pub_date,add_code,price,img_url,description
0,5126174.0,9.7814E+12,ebk,(The)ecology of transportation:managing mobili...,"edited by John Davenport,Julia L. Davenport",Springer,c2006,NaN,NaN,NaN,NaN
1,5126175.0,9.78042E+12,pbk,Ecosystems,"Gordon Dickinson,Kevin Murphy",Routledge,c2007,NaN,NaN,https://image.aladin.co.kr/product/149/84/cove...,NaN
2,5126176.0,9.7802E+12,ebk,Ecosystems,"Gordon Dickinson,Kevin Murphy",Routledge,c2007,NaN,NaN,NaN,NaN
3,5126177.0,9.7816E+12,eisbn,Epidermal growth factor:methods and protocols,"edited by Tarun B. Patel,Paul J. Bertics",Humana Press,c2006,NaN,NaN,NaN,NaN
4,5126178.0,9.78088E+12,hbk,Evolutionary biology,Douglas J. Futuyma,Sinauer Associates,c1998,NaN,NaN,https://image.aladin.co.kr/product/118/4/cover...,NaN

In [7]:
df_Detail_2019.tail()

,?master_seq,isbn13,vol,title,author,publisher,pub_date,add_code,price,img_url,description
1048563,5070540.0,9.78898E+12,"1-4,6-16/",키시즈=Kisses,Nari Yamada 저;월간코믹스파티편집부 역,학산문화사,1999-2000,7830,NaN,NaN,NaN
1048564,5070541.0,9.78898E+12,"1-4,6-16/",키시즈=Kisses,Nari Yamada 저;월간코믹스파티편집부 역,학산문화사,1999-2000,7830,NaN,NaN,NaN
1048565,5070542.0,9.78898E+12,"1-4,6-16/",키시즈=Kisses,Nari Yamada 저;월간코믹스파티편집부 역,학산문화사,1999-2000,7830,NaN,NaN,NaN
1048566,5070543.0,9.78898E+12,"1-4,6-16/",키시즈=Kisses,Nari Yamada 저;월간코믹스파티편집부 역,학산문화사,1999-2000,7830,NaN,NaN,NaN
1048567,5070544.0,9.78898E+12,"1-4,6-16/",키시즈=Kisses,Nari Yamada 저;월간코믹스파티편집부 역,학산문화사,1999-2000,7830,NaN,NaN,NaN

In [41]:
df_Detail_202012_1 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-1.csv")
df_Detail_202012_1.columns

C:\Users\whdrk\AppData\Local\Temp\ipykernel_2260\847543918.py:1: DtypeWarning: Columns (1,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_1 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-1.csv")

Index(['SEQ_NO', 'ISBN_THIRTEEN_NO', 'VLM_NM', 'TITLE_NM', 'AUTHR_NM',
       'PUBLISHER_NM', 'PBLICTE_DE', 'ADTION_SMBL_NM', 'PRC_VALUE',
       'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'TITLE_SBST_NM',
       'AUTHR_SBST_NM', 'TWO_PBLICTE_DE', 'INTNT_BOOKST_BOOK_EXST_AT',
       'PORTAL_SITE_BOOK_EXST_AT', 'ISBN_NO'],
      dtype='object')

In [ ]:
df_Detail_202112 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202112.csv")
df_Detail_202112.columns

In [35]:
df_Detail_202112 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202112.csv")
df_Detail_202112.columns

C:\Users\whdrk\AppData\Local\Temp\ipykernel_2260\3653091427.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202112_1 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202112.csv")

Index(['SEQ_NO', 'ISBN_THIRTEEN_NO', 'VLM_NM', 'TITLE_NM', 'AUTHR_NM',
       'PUBLISHER_NM', 'PBLICTE_DE', 'ADTION_SMBL_NM', 'PRC_VALUE',
       'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'TITLE_SBST_NM',
       'AUTHR_SBST_NM', 'TWO_PBLICTE_DE', 'INTNT_BOOKST_BOOK_EXST_AT',
       'PORTAL_SITE_BOOK_EXST_AT', 'ISBN_NO'],
      dtype='object')

In [9]:
df_Half.columns

Index(['SPECIES_MASTER_SEQ_NO', 'ISBN_NO', 'MUMM_LON_HALFLIFE_NO',
       'MXM_LON_HALFLIFE_NO', 'AVRG_LON_HALFLIFE_NO', 'BOOK_CO'],
      dtype='object')

In [8]:
df_Detail_2019.columns

Index(['?master_seq', 'isbn13', 'vol', 'title', 'author', 'publisher',
       'pub_date', 'add_code', 'price', 'img_url', 'description'],
      dtype='object')

In [26]:
#데이터 테이블 merge
#merged_df = pd.merge(df_Half, df_Detail_202012_1, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='inner') # 1개?
#merged_df = pd.merge(df_Half, df_Detail_202012_1, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='outer') # 2098677개?
#merged_df = pd.merge(df_Half, df_Detail_202012_1, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='left') # 1050110개?
#merged_df = pd.merge(df_Half, df_Detail_202012_1, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='right') # 1048568개?
#merged_df.info()

In [38]:
#df_Half, df_Detail_202112 데이터 테이블 머지
merged_df2 = pd.merge(df_Half, df_Detail_202112, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='inner') # 11592개
#merged_df2 = pd.merge(df_Half, df_Detail_202112, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='outer') # 1195636개
#merged_df2 = pd.merge(df_Half, df_Detail_202112, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='left') # 1050110개
#merged_df2 = pd.merge(df_Half, df_Detail_202112, left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='right') # 157118개
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11592 entries, 0 to 11591
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SPECIES_MASTER_SEQ_NO      11592 non-null  int64
 1   ISBN_NO                    11592 non-null  object
 2   MUMM_LON_HALFLIFE_NO       11592 non-null  int64
 3   MXM_LON_HALFLIFE_NO        11592 non-null  int64
 4   AVRG_LON_HALFLIFE_NO       11592 non-null  int64
 5   BOOK_CO                    11592 non-null  int64
 6   SEQ_NO                     11592 non-null  int64
 7   ISBN_THIRTEEN_NO           11592 non-null  int64
 8   VLM_NM                     163 non-null    object
 9   TITLE_NM                   11592 non-null  object
 10  AUTHR_NM                   11592 non-null  object
 11  PUBLISHER_NM               11592 non-null  object
 12  PBLICTE_DE                 0 non-null      float64
 13  ADTION_SMBL_NM             11575 non-null  object
 14  PRC_VALUE                  11275 non-null  float64
 15  IMAGE_URL                  10261 non-null  object
 16  BOOK_INTRCN_CN             10026 non-null  object
 17  KDC_NM                     11584 non-null  float64
 18  TITLE_SBST_NM              11565 non-null  object
 19  AUTHR_SBST_NM              11560 non-null  object
 20  TWO_PBLICTE_DE             10241 non-null  object
 21  INTNT_BOOKST_BOOK_EXST_AT  11592 non-null  object
 22  PORTAL_SITE_BOOK_EXST_AT   11592 non-null  object
dtypes: float64(3), int64(7), object(13)
memory usage: 2.0+ MB

In [37]:
merged_df2.head()

,SPECIES_MASTER_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_NO,MXM_LON_HALFLIFE_NO,AVRG_LON_HALFLIFE_NO,BOOK_CO,SEQ_NO,ISBN_THIRTEEN_NO,VLM_NM,TITLE_NM,...,ADTION_SMBL_NM,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT
0,1833658,9788982800818,2246,2692,2412,3,1833658,9788982800818,NaN,명리산책 :사주학의 원리와 해설,...,13180.0,50000.0,http://image.aladin.co.kr/product/1608/34/cove...,사주학의 원리와 해설을 담은 『명리산책』. 이 책은 사주의 깊이를 알고 역학의 기본...,188.5,명리산책사주학의원리와해설,"강금주,추송학공저",2012-03-30,Y,Y
1,1833749,9788975675515,754,2783,1830,25,1833749,9788975675515,NaN,"(일본어 능력을 점프 시켜주는) 일한단어 15,000",...,13730.0,13000.0,http://image.aladin.co.kr/product/1652/49/cove...,『일한단어 15000』은 일본에서 현지인들이 주로 사용하는 어휘를 우선으로 수록하여...,734.0,"일본어능력을점프시켜주는일한단어15,000","kosekiemi,rie엮음",2012-04-25,Y,Y
2,1834121,9788965880554,1028,2693,1908,28,1834121,9788965880554,NaN,경선식 영단어 :중학,...,53740.0,10000.0,http://image.aladin.co.kr/product/1417/85/cove...,7차 교육과정의 기본 어휘표와 중학교 전 교과서를 분석하여 중학교 전 과정 동안 필...,744.0,경선식영단어중학,지은이경선식,2011-12-19,Y,Y
3,1834145,9788991223431,1005,2960,2214,35,1834145,9788991223431,NaN,지금까지의 나 앞으로의 나 :미래의 나에게 들려주는 삶의 충고,...,3810.0,13000.0,http://image.aladin.co.kr/product/1465/19/cove...,우리는 항상 알 수 없는 미래에 대한 막연한 기대와 불안으로 현재를 살아가고 있다....,199.1,지금까지의나앞으로의나미래의나에게들려주는삶의충고,조용숙편저,2012-01-20,Y,Y
4,1834212,9788965880530,796,2545,2007,37,1834212,9788965880530,NaN,경선식 영단어 :수능,...,53740.0,12000.0,http://image.aladin.co.kr/product/1417/92/cove...,&lt;수능 영단어 초스피드 암기비법&gt;(&lt;경선식 영단어 초스피드 암기비법...,744.0,경선식영단어수능,지은이경선식,2011-12-19,Y,Y