In [23]:
import pandas as pd

In [24]:
df_Half = pd.read_csv("data/NL_LON_HALFLIFE_2020.csv")

In [25]:
df_Half.columns

Index(['BOOK_MASTR_SEQ_NO', 'ISBN_NO', 'MUMM_LON_HALFLIFE_CO',
       'MXMM_LON_HALFLIFE_CO', 'AVRG_LON_HALFLIFE_CO', 'BOOK_CO'],
      dtype='object')

In [26]:
df_Half.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103283 entries, 0 to 1103282
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   BOOK_MASTR_SEQ_NO     1103283 non-null  int64
 1   ISBN_NO               1103283 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  1103283 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  1103283 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  1103283 non-null  int64
 5   BOOK_CO               1103283 non-null  int64
dtypes: int64(6)
memory usage: 50.5 MB

In [27]:
df_Detail_2019 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_bo_species_master_new_2019_New.csv")

In [28]:
df_Detail_2019.rename(columns={'isbn13':'ISBN_THIRTEEN_NO'}, inplace=True)

In [29]:
df_Detail_2019.columns

Index(['?master_seq', 'ISBN_THIRTEEN_NO', 'vol', 'title', 'author',
       'publisher', 'pub_date', 'add_code', 'price', 'img_url', 'description'],
      dtype='object')

In [30]:
df_Detail_202012_1 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-1.csv")
df_Detail_202012_2 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-2.csv")
df_Detail_202012_3 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-3.csv")
df_Detail_202012_4 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-4.csv")
df_Detail_202012_5 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-5.csv")
df_Detail_202012_1.columns

C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2144206616.py:1: DtypeWarning: Columns (1,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_1 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-1.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2144206616.py:2: DtypeWarning: Columns (1,7,10,11,12,13,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_2 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-2.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2144206616.py:3: DtypeWarning: Columns (1,6,7,9,10,11,12,13,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_3 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-3.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2144206616.py:4: DtypeWarning: Columns (11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_4 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-4.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2144206616.py:5: DtypeWarning: Columns (6,11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_5 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-5.csv")

Index(['SEQ_NO', 'ISBN_THIRTEEN_NO', 'VLM_NM', 'TITLE_NM', 'AUTHR_NM',
       'PUBLISHER_NM', 'PBLICTE_DE', 'ADTION_SMBL_NM', 'PRC_VALUE',
       'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'TITLE_SBST_NM',
       'AUTHR_SBST_NM', 'TWO_PBLICTE_DE', 'INTNT_BOOKST_BOOK_EXST_AT',
       'PORTAL_SITE_BOOK_EXST_AT', 'ISBN_NO'],
      dtype='object')

In [31]:
df_Detail_202101 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202101.csv")
df_Detail_202102 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202102.csv")
df_Detail_202103 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202103.csv")
df_Detail_202104 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202104.csv")
df_Detail_202105 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202105.csv")
df_Detail_202106 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202106.csv")
df_Detail_202107 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202107.csv")
df_Detail_202108 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202108.csv")
df_Detail_202109 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202109.csv")
df_Detail_202110 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202110.csv")
df_Detail_202111 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202111.csv")
df_Detail_202112 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202112.csv")
df_Detail_202112.columns

C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2095601873.py:2: DtypeWarning: Columns (7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202102 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202102.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2095601873.py:4: DtypeWarning: Columns (6,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202104 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202104.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2095601873.py:5: DtypeWarning: Columns (6,7,11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202105 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202105.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2095601873.py:6: DtypeWarning: Columns (6,7,11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202106 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202106.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2095601873.py:8: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202108 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202108.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2095601873.py:9: DtypeWarning: Columns (2,6,7,9,10,11,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202109 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202109.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2095601873.py:11: DtypeWarning: Columns (7,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202111 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202111.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_6868\2095601873.py:12: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202112 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202112.csv")

Index(['SEQ_NO', 'ISBN_THIRTEEN_NO', 'VLM_NM', 'TITLE_NM', 'AUTHR_NM',
       'PUBLISHER_NM', 'PBLICTE_DE', 'ADTION_SMBL_NM', 'PRC_VALUE',
       'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'TITLE_SBST_NM',
       'AUTHR_SBST_NM', 'TWO_PBLICTE_DE', 'INTNT_BOOKST_BOOK_EXST_AT',
       'PORTAL_SITE_BOOK_EXST_AT', 'ISBN_NO'],
      dtype='object')

In [32]:
df_total = pd.concat([df_Detail_202012_1,df_Detail_202012_2,df_Detail_202012_3,df_Detail_202012_4,df_Detail_202012_5,df_Detail_202101,df_Detail_202102,
                          df_Detail_202103,df_Detail_202104,df_Detail_202105,df_Detail_202106,df_Detail_202107,df_Detail_202108,df_Detail_202109,
                          df_Detail_202110,df_Detail_202111,df_Detail_202112])
df_total.tail()

,SEQ_NO,ISBN_THIRTEEN_NO,VLM_NM,TITLE_NM,AUTHR_NM,PUBLISHER_NM,PBLICTE_DE,ADTION_SMBL_NM,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO
157113,6372497,9781191496148,NaN,설민석의 세계사 대모험 11 (영국 산업 혁명 편: 혁명에 맞선 자들),김정욱|설민석,단꿈아이,NaN,NaN,NaN,NaN,NaN,NaN,설민석의세계사대모험11영국산업혁명편혁명에맞선자들,김정욱설민석,NaN,Y,Y,NaN
157114,6372498,9781161755015,NaN,A Clinical Atlas: Variations of the Bones of t...,Thomas Dwight (지은이),Kessinger Publishing,NaN,NaN,NaN,https://image.aladin.co.kr/product/7275/80/cov...,NaN,NaN,aclinicalatlasvariationsofthebonesofthehandsan...,thomasdwight지은이,2010-05-23,Y,Y,NaN
157115,6372499,9781197192907,NaN,"과탑이 알려 주는 대학 생활 한 권으로 끝내기 (어서와, 대학은 처음이지?)",조유림,든든한서재,NaN,NaN,NaN,NaN,NaN,NaN,"과탑이알려주는대학생활한권으로끝내기어서와,대학은처음이지",조유림,NaN,Y,Y,NaN
157116,6372500,9781188005384,NaN,중학영문법 총정리 한권으로 끝내기 (EBS강사 혼공쌤 허준석의 &quot;쉽고 재미...,허준석|정다운,쏠티북스,NaN,NaN,NaN,NaN,NaN,NaN,중학영문법총정리한권으로끝내기ebs강사혼공쌤허준석의quot쉽고재미있게끝내는중학영문법quot,허준석정다운,NaN,Y,Y,NaN
157117,6372501,9781191334426,NaN,"더 빅 윈 (이룰 것인가, 남길 것인가)",신문범,클라우드나인,NaN,NaN,NaN,NaN,NaN,NaN,"더빅윈이룰것인가,남길것인가",신문범,NaN,Y,Y,NaN

In [33]:
#df_Detail_2019, df_total concat
df_total2 = pd.concat([df_Detail_2019,df_total])
df_total2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5789425 entries, 0 to 157117
Data columns (total 28 columns):
 #   Column                     Dtype
---  ------                     -----
 0   ?master_seq                float64
 1   ISBN_THIRTEEN_NO           object
 2   vol                        object
 3   title                      object
 4   author                     object
 5   publisher                  object
 6   pub_date                   object
 7   add_code                   object
 8   price                      object
 9   img_url                    object
 10  description                object
 11  SEQ_NO                     float64
 12  VLM_NM                     object
 13  TITLE_NM                   object
 14  AUTHR_NM                   object
 15  PUBLISHER_NM               object
 16  PBLICTE_DE                 object
 17  ADTION_SMBL_NM             object
 18  PRC_VALUE                  float64
 19  IMAGE_URL                  object
 20  BOOK_INTRCN_CN             object
 21  KDC_NM                     object
 22  TITLE_SBST_NM              object
 23  AUTHR_SBST_NM              object
 24  TWO_PBLICTE_DE             object
 25  INTNT_BOOKST_BOOK_EXST_AT  object
 26  PORTAL_SITE_BOOK_EXST_AT   object
 27  ISBN_NO                    object
dtypes: float64(3), object(25)
memory usage: 1.3+ GB

In [47]:
#df_Half, df_total 머지
#merged_main = pd.merge(df_Half, df_total2,left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='inner') #926648개
#merged_main = pd.merge(df_Half, df_total2,left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='outer') #6151089개
merged_main = pd.merge(df_Half, df_total2,left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='left') #1288312개
#merged_main = pd.merge(df_Half, df_total2,left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='right') #5789425개
merged_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1288312 entries, 0 to 1288311
Data columns (total 34 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   BOOK_MASTR_SEQ_NO          1288312 non-null  int64
 1   ISBN_NO_x                  1288312 non-null  object
 2   MUMM_LON_HALFLIFE_CO       1288312 non-null  int64
 3   MXMM_LON_HALFLIFE_CO       1288312 non-null  int64
 4   AVRG_LON_HALFLIFE_CO       1288312 non-null  int64
 5   BOOK_CO                    1288312 non-null  int64
 6   ?master_seq                0 non-null        float64
 7   ISBN_THIRTEEN_NO           926648 non-null   object
 8   vol                        0 non-null        object
 9   title                      0 non-null        object
 10  author                     0 non-null        object
 11  publisher                  0 non-null        object
 12  pub_date                   0 non-null        object
 13  add_code                   0 non-null        object
 14  price                      0 non-null        object
 15  img_url                    0 non-null        object
 16  description                0 non-null        object
 17  SEQ_NO                     926648 non-null   float64
 18  VLM_NM                     206326 non-null   object
 19  TITLE_NM                   926648 non-null   object
 20  AUTHR_NM                   921264 non-null   object
 21  PUBLISHER_NM               876774 non-null   object
 22  PBLICTE_DE                 2626 non-null     object
 23  ADTION_SMBL_NM             744471 non-null   object
 24  PRC_VALUE                  796921 non-null   float64
 25  IMAGE_URL                  745488 non-null   object
 26  BOOK_INTRCN_CN             688148 non-null   object
 27  KDC_NM                     774531 non-null   object
 28  TITLE_SBST_NM              844574 non-null   object
 29  AUTHR_SBST_NM              483843 non-null   object
 30  TWO_PBLICTE_DE             781115 non-null   object
 31  INTNT_BOOKST_BOOK_EXST_AT  914067 non-null   object
 32  PORTAL_SITE_BOOK_EXST_AT   914067 non-null   object
 33  ISBN_NO_y                  714740 non-null   object
dtypes: float64(3), int64(5), object(26)
memory usage: 334.2+ MB

In [48]:
merged_main.rename(columns={'ISBN_NO_x':'ISBN_NO'}, inplace=True)

In [49]:
merged_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1288312 entries, 0 to 1288311
Data columns (total 34 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   BOOK_MASTR_SEQ_NO          1288312 non-null  int64
 1   ISBN_NO                    1288312 non-null  object
 2   MUMM_LON_HALFLIFE_CO       1288312 non-null  int64
 3   MXMM_LON_HALFLIFE_CO       1288312 non-null  int64
 4   AVRG_LON_HALFLIFE_CO       1288312 non-null  int64
 5   BOOK_CO                    1288312 non-null  int64
 6   ?master_seq                0 non-null        float64
 7   ISBN_THIRTEEN_NO           926648 non-null   object
 8   vol                        0 non-null        object
 9   title                      0 non-null        object
 10  author                     0 non-null        object
 11  publisher                  0 non-null        object
 12  pub_date                   0 non-null        object
 13  add_code                   0 non-null        object
 14  price                      0 non-null        object
 15  img_url                    0 non-null        object
 16  description                0 non-null        object
 17  SEQ_NO                     926648 non-null   float64
 18  VLM_NM                     206326 non-null   object
 19  TITLE_NM                   926648 non-null   object
 20  AUTHR_NM                   921264 non-null   object
 21  PUBLISHER_NM               876774 non-null   object
 22  PBLICTE_DE                 2626 non-null     object
 23  ADTION_SMBL_NM             744471 non-null   object
 24  PRC_VALUE                  796921 non-null   float64
 25  IMAGE_URL                  745488 non-null   object
 26  BOOK_INTRCN_CN             688148 non-null   object
 27  KDC_NM                     774531 non-null   object
 28  TITLE_SBST_NM              844574 non-null   object
 29  AUTHR_SBST_NM              483843 non-null   object
 30  TWO_PBLICTE_DE             781115 non-null   object
 31  INTNT_BOOKST_BOOK_EXST_AT  914067 non-null   object
 32  PORTAL_SITE_BOOK_EXST_AT   914067 non-null   object
 33  ISBN_NO_y                  714740 non-null   object
dtypes: float64(3), int64(5), object(26)
memory usage: 334.2+ MB

In [50]:
merged_main.head()

,BOOK_MASTR_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_CO,MXMM_LON_HALFLIFE_CO,AVRG_LON_HALFLIFE_CO,BOOK_CO,?master_seq,ISBN_THIRTEEN_NO,vol,title,...,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO_y
0,116165,9788975486456,2765,5281,4463,8,NaN,9788975486456,NaN,NaN,...,16000.0,http://image.aladin.co.kr/product/30/12/cover/...,학습학 사상과 원형을 탐구한 책. 배우고 익히는 인간의 아름다움과 동시에 실천이라는...,370.0,lms²학문의기원學習學,NaN,2001-09-25,Y,Y,8975486451
1,116168,9788976820624,807,6521,4891,43,NaN,9788976820624,NaN,NaN,...,12000.0,http://image.aladin.co.kr/product/30/4/cover/8...,30년 넘게 미국 대학에서 금융.증권의 교재로 쓰이던 는 1920년~1938년의 월...,327.85,골콘다,NaN,2001-10-15,Y,Y,8976820622
2,116171,9788977990401,835,6759,4555,60,NaN,9788977990401,NaN,NaN,...,24000.0,http://image.aladin.co.kr/product/28/98/cover/...,건축기술 지침서. 건축구조 지식의 학습과 적용에 대한 의식전환이 필요하다는 인식하에...,542.0,건축기술실무이야기건축구조·시공신기술·신공법,삼성물산건설부문저,2001-07-25,Y,Y,8977990408
3,116175,9788972783497,2566,4133,3334,7,NaN,9788972783497,NaN,NaN,...,NaN,NaN,NaN,911.05,일상으로본조선시대이야기,NaN,NaN,Y,Y,8972783498(세트)
4,116177,9788932105635,2806,2806,2806,1,NaN,9788932105635,NaN,NaN,...,5800.0,http://image.aladin.co.kr/product/29/95/cover/...,별다른 의미 없이 기도를 반복하는 신자들을 위해 영혼들에게 깨달음을 주는 기도해설서...,233.69,주님의기도해설,NaN,2001-10-10,Y,Y,8932105634