In [1]:
import pandas as pd

In [2]:
df_Half = pd.read_csv("data/NL_LON_HALFLIFE_2020.csv")

In [3]:
df_Half.columns

Index(['BOOK_MASTR_SEQ_NO', 'ISBN_NO', 'MUMM_LON_HALFLIFE_CO',
       'MXMM_LON_HALFLIFE_CO', 'AVRG_LON_HALFLIFE_CO', 'BOOK_CO'],
      dtype='object')

In [4]:
df_Half.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103283 entries, 0 to 1103282
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   BOOK_MASTR_SEQ_NO     1103283 non-null  int64
 1   ISBN_NO               1103283 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  1103283 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  1103283 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  1103283 non-null  int64
 5   BOOK_CO               1103283 non-null  int64
dtypes: int64(6)
memory usage: 50.5 MB

In [5]:
df_Detail_2019 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_bo_species_master_new_2019_New.csv")

In [6]:
df_Detail_2019.rename(columns={'isbn13':'ISBN_THIRTEEN_NO','title':'TITLE_NM','author':'AUTHR_NM','publisher':'PUBLISHER_NM'}, inplace=True)

In [7]:
df_Detail_2019.columns

Index(['?master_seq', 'ISBN_THIRTEEN_NO', 'vol', 'TITLE_NM', 'AUTHR_NM',
       'PUBLISHER_NM', 'pub_date', 'add_code', 'price', 'img_url',
       'description'],
      dtype='object')

In [8]:
df_Detail_2019.head()

,?master_seq,ISBN_THIRTEEN_NO,vol,TITLE_NM,AUTHR_NM,PUBLISHER_NM,pub_date,add_code,price,img_url,description
0,5126174.0,9.7814E+12,ebk,(The)ecology of transportation:managing mobili...,"edited by John Davenport,Julia L. Davenport",Springer,c2006,NaN,NaN,NaN,NaN
1,5126175.0,9.78042E+12,pbk,Ecosystems,"Gordon Dickinson,Kevin Murphy",Routledge,c2007,NaN,NaN,https://image.aladin.co.kr/product/149/84/cove...,NaN
2,5126176.0,9.7802E+12,ebk,Ecosystems,"Gordon Dickinson,Kevin Murphy",Routledge,c2007,NaN,NaN,NaN,NaN
3,5126177.0,9.7816E+12,eisbn,Epidermal growth factor:methods and protocols,"edited by Tarun B. Patel,Paul J. Bertics",Humana Press,c2006,NaN,NaN,NaN,NaN
4,5126178.0,9.78088E+12,hbk,Evolutionary biology,Douglas J. Futuyma,Sinauer Associates,c1998,NaN,NaN,https://image.aladin.co.kr/product/118/4/cover...,NaN

In [9]:
df_Detail_202012_1 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-1.csv")
df_Detail_202012_2 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-2.csv")
df_Detail_202012_3 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-3.csv")
df_Detail_202012_4 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-4.csv")
df_Detail_202012_5 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-5.csv")
df_Detail_202012_1.columns

C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2144206616.py:1: DtypeWarning: Columns (1,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_1 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-1.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2144206616.py:2: DtypeWarning: Columns (1,7,10,11,12,13,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_2 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-2.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2144206616.py:3: DtypeWarning: Columns (1,6,7,9,10,11,12,13,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_3 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-3.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2144206616.py:4: DtypeWarning: Columns (11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_4 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-4.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2144206616.py:5: DtypeWarning: Columns (6,11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202012_5 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202012-5.csv")

Index(['SEQ_NO', 'ISBN_THIRTEEN_NO', 'VLM_NM', 'TITLE_NM', 'AUTHR_NM',
       'PUBLISHER_NM', 'PBLICTE_DE', 'ADTION_SMBL_NM', 'PRC_VALUE',
       'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'TITLE_SBST_NM',
       'AUTHR_SBST_NM', 'TWO_PBLICTE_DE', 'INTNT_BOOKST_BOOK_EXST_AT',
       'PORTAL_SITE_BOOK_EXST_AT', 'ISBN_NO'],
      dtype='object')

In [10]:
df_Detail_202101 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202101.csv")
df_Detail_202102 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202102.csv")
df_Detail_202103 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202103.csv")
df_Detail_202104 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202104.csv")
df_Detail_202105 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202105.csv")
df_Detail_202106 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202106.csv")
df_Detail_202107 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202107.csv")
df_Detail_202108 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202108.csv")
df_Detail_202109 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202109.csv")
df_Detail_202110 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202110.csv")
df_Detail_202111 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202111.csv")
df_Detail_202112 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202112.csv")
df_Detail_202112.columns

C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2095601873.py:2: DtypeWarning: Columns (7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202102 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202102.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2095601873.py:4: DtypeWarning: Columns (6,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202104 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202104.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2095601873.py:5: DtypeWarning: Columns (6,7,11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202105 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202105.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2095601873.py:6: DtypeWarning: Columns (6,7,11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202106 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202106.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2095601873.py:8: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202108 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202108.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2095601873.py:9: DtypeWarning: Columns (2,6,7,9,10,11,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202109 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202109.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2095601873.py:11: DtypeWarning: Columns (7,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202111 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202111.csv")
C:\Users\whdrk\AppData\Local\Temp\ipykernel_7560\2095601873.py:12: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Detail_202112 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_BO_SPECIES_MASTER_NEW_202112.csv")

Index(['SEQ_NO', 'ISBN_THIRTEEN_NO', 'VLM_NM', 'TITLE_NM', 'AUTHR_NM',
       'PUBLISHER_NM', 'PBLICTE_DE', 'ADTION_SMBL_NM', 'PRC_VALUE',
       'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'TITLE_SBST_NM',
       'AUTHR_SBST_NM', 'TWO_PBLICTE_DE', 'INTNT_BOOKST_BOOK_EXST_AT',
       'PORTAL_SITE_BOOK_EXST_AT', 'ISBN_NO'],
      dtype='object')

In [11]:
df_Detail_202104.isnull().sum()

SEQ_NO                           0
ISBN_THIRTEEN_NO                 0
VLM_NM                       26867
TITLE_NM                         0
AUTHR_NM                       139
PUBLISHER_NM                  3452
PBLICTE_DE                   33393
ADTION_SMBL_NM               15117
PRC_VALUE                    12389
IMAGE_URL                    10310
BOOK_INTRCN_CN               14874
KDC_NM                       10091
TITLE_SBST_NM                  489
AUTHR_SBST_NM                  663
TWO_PBLICTE_DE                9565
INTNT_BOOKST_BOOK_EXST_AT     1235
PORTAL_SITE_BOOK_EXST_AT      1235
ISBN_NO                      23337
dtype: int64

In [12]:
df_total = pd.concat([df_Detail_202012_1,df_Detail_202012_2,df_Detail_202012_3,df_Detail_202012_4,df_Detail_202012_5,df_Detail_202101,df_Detail_202102,
                          df_Detail_202103,df_Detail_202104,df_Detail_202105,df_Detail_202106,df_Detail_202107,df_Detail_202108,df_Detail_202109,
                          df_Detail_202110,df_Detail_202111,df_Detail_202112])
df_total.tail()

,SEQ_NO,ISBN_THIRTEEN_NO,VLM_NM,TITLE_NM,AUTHR_NM,PUBLISHER_NM,PBLICTE_DE,ADTION_SMBL_NM,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO
157113,6372497,9781191496148,NaN,설민석의 세계사 대모험 11 (영국 산업 혁명 편: 혁명에 맞선 자들),김정욱|설민석,단꿈아이,NaN,NaN,NaN,NaN,NaN,NaN,설민석의세계사대모험11영국산업혁명편혁명에맞선자들,김정욱설민석,NaN,Y,Y,NaN
157114,6372498,9781161755015,NaN,A Clinical Atlas: Variations of the Bones of t...,Thomas Dwight (지은이),Kessinger Publishing,NaN,NaN,NaN,https://image.aladin.co.kr/product/7275/80/cov...,NaN,NaN,aclinicalatlasvariationsofthebonesofthehandsan...,thomasdwight지은이,2010-05-23,Y,Y,NaN
157115,6372499,9781197192907,NaN,"과탑이 알려 주는 대학 생활 한 권으로 끝내기 (어서와, 대학은 처음이지?)",조유림,든든한서재,NaN,NaN,NaN,NaN,NaN,NaN,"과탑이알려주는대학생활한권으로끝내기어서와,대학은처음이지",조유림,NaN,Y,Y,NaN
157116,6372500,9781188005384,NaN,중학영문법 총정리 한권으로 끝내기 (EBS강사 혼공쌤 허준석의 &quot;쉽고 재미...,허준석|정다운,쏠티북스,NaN,NaN,NaN,NaN,NaN,NaN,중학영문법총정리한권으로끝내기ebs강사혼공쌤허준석의quot쉽고재미있게끝내는중학영문법quot,허준석정다운,NaN,Y,Y,NaN
157117,6372501,9781191334426,NaN,"더 빅 윈 (이룰 것인가, 남길 것인가)",신문범,클라우드나인,NaN,NaN,NaN,NaN,NaN,NaN,"더빅윈이룰것인가,남길것인가",신문범,NaN,Y,Y,NaN

In [13]:
#df_Detail_2019, df_total concat
df_total2 = pd.concat([df_Detail_2019,df_total])
df_total2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5789425 entries, 0 to 157117
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   ?master_seq                float64
 1   ISBN_THIRTEEN_NO           object
 2   vol                        object
 3   TITLE_NM                   object
 4   AUTHR_NM                   object
 5   PUBLISHER_NM               object
 6   pub_date                   object
 7   add_code                   object
 8   price                      object
 9   img_url                    object
 10  description                object
 11  SEQ_NO                     float64
 12  VLM_NM                     object
 13  PBLICTE_DE                 object
 14  ADTION_SMBL_NM             object
 15  PRC_VALUE                  float64
 16  IMAGE_URL                  object
 17  BOOK_INTRCN_CN             object
 18  KDC_NM                     object
 19  TITLE_SBST_NM              object
 20  AUTHR_SBST_NM              object
 21  TWO_PBLICTE_DE             object
 22  INTNT_BOOKST_BOOK_EXST_AT  object
 23  PORTAL_SITE_BOOK_EXST_AT   object
 24  ISBN_NO                    object
dtypes: float64(3), object(22)
memory usage: 1.1+ GB

In [14]:
df_total2.head()

,?master_seq,ISBN_THIRTEEN_NO,vol,TITLE_NM,AUTHR_NM,PUBLISHER_NM,pub_date,add_code,price,img_url,...,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO
0,5126174.0,9.7814E+12,ebk,(The)ecology of transportation:managing mobili...,"edited by John Davenport,Julia L. Davenport",Springer,c2006,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5126175.0,9.78042E+12,pbk,Ecosystems,"Gordon Dickinson,Kevin Murphy",Routledge,c2007,NaN,NaN,https://image.aladin.co.kr/product/149/84/cove...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5126176.0,9.7802E+12,ebk,Ecosystems,"Gordon Dickinson,Kevin Murphy",Routledge,c2007,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5126177.0,9.7816E+12,eisbn,Epidermal growth factor:methods and protocols,"edited by Tarun B. Patel,Paul J. Bertics",Humana Press,c2006,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5126178.0,9.78088E+12,hbk,Evolutionary biology,Douglas J. Futuyma,Sinauer Associates,c1998,NaN,NaN,https://image.aladin.co.kr/product/118/4/cover...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_total2.drop_duplicates(subset='ISBN_THIRTEEN_NO', inplace=True)

In [16]:
df_total2[df_total2['ISBN_THIRTEEN_NO'] == 9791156935445 ]

,?master_seq,ISBN_THIRTEEN_NO,vol,TITLE_NM,AUTHR_NM,PUBLISHER_NM,pub_date,add_code,price,img_url,...,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO
22249,NaN,9791156935445,NaN,2020 로이어스 법전협 제2차 모의시험 해설,"신정훈, 김순이, 오제현, 김정철, 안준학 (지은이)",헤르메스,NaN,NaN,NaN,NaN,...,43000.0,https://image.aladin.co.kr/product/25050/5/cov...,"로이어스 선택형, 사례형 기출 시리즈 목차를 기반으로 출제경향분석표를 정리하여 수록...",NaN,2020로이어스법전협제2차모의시험해설,"신정훈,김순이,오제현,김정철,안준학지은이",2020-09-10,Y,Y,NaN

In [17]:
#df_Half, df_total 머지
#merged_main = pd.merge(df_Half, df_total2,left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='inner') #926648개
#merged_main = pd.merge(df_Half, df_total2,left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='outer') #6151089개
merged_main = pd.merge(df_Half, df_total2,left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='left') #1103283개
#merged_main = pd.merge(df_Half, df_total2,left_on='ISBN_NO', right_on='ISBN_THIRTEEN_NO', how='right') #5789425개
merged_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103283 entries, 0 to 1103282
Data columns (total 31 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   BOOK_MASTR_SEQ_NO          1103283 non-null  int64
 1   ISBN_NO_x                  1103283 non-null  object
 2   MUMM_LON_HALFLIFE_CO       1103283 non-null  int64
 3   MXMM_LON_HALFLIFE_CO       1103283 non-null  int64
 4   AVRG_LON_HALFLIFE_CO       1103283 non-null  int64
 5   BOOK_CO                    1103283 non-null  int64
 6   ?master_seq                0 non-null        float64
 7   ISBN_THIRTEEN_NO           741619 non-null   object
 8   vol                        0 non-null        object
 9   TITLE_NM                   741619 non-null   object
 10  AUTHR_NM                   736792 non-null   object
 11  PUBLISHER_NM               691770 non-null   object
 12  pub_date                   0 non-null        object
 13  add_code                   0 non-null        object
 14  price                      0 non-null        object
 15  img_url                    0 non-null        object
 16  description                0 non-null        object
 17  SEQ_NO                     741619 non-null   float64
 18  VLM_NM                     151617 non-null   object
 19  PBLICTE_DE                 2364 non-null     object
 20  ADTION_SMBL_NM             565680 non-null   object
 21  PRC_VALUE                  637524 non-null   float64
 22  IMAGE_URL                  595834 non-null   object
 23  BOOK_INTRCN_CN             546277 non-null   object
 24  KDC_NM                     592203 non-null   object
 25  TITLE_SBST_NM              660224 non-null   object
 26  AUTHR_SBST_NM              300169 non-null   object
 27  TWO_PBLICTE_DE             627509 non-null   object
 28  INTNT_BOOKST_BOOK_EXST_AT  733278 non-null   object
 29  PORTAL_SITE_BOOK_EXST_AT   733278 non-null   object
 30  ISBN_NO_y                  566156 non-null   object
dtypes: float64(3), int64(5), object(23)
memory usage: 260.9+ MB

In [18]:
merged_main.rename(columns={'ISBN_NO_x':'ISBN_NO'}, inplace=True)

In [19]:
merged_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103283 entries, 0 to 1103282
Data columns (total 31 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   BOOK_MASTR_SEQ_NO          1103283 non-null  int64
 1   ISBN_NO                    1103283 non-null  object
 2   MUMM_LON_HALFLIFE_CO       1103283 non-null  int64
 3   MXMM_LON_HALFLIFE_CO       1103283 non-null  int64
 4   AVRG_LON_HALFLIFE_CO       1103283 non-null  int64
 5   BOOK_CO                    1103283 non-null  int64
 6   ?master_seq                0 non-null        float64
 7   ISBN_THIRTEEN_NO           741619 non-null   object
 8   vol                        0 non-null        object
 9   TITLE_NM                   741619 non-null   object
 10  AUTHR_NM                   736792 non-null   object
 11  PUBLISHER_NM               691770 non-null   object
 12  pub_date                   0 non-null        object
 13  add_code                   0 non-null        object
 14  price                      0 non-null        object
 15  img_url                    0 non-null        object
 16  description                0 non-null        object
 17  SEQ_NO                     741619 non-null   float64
 18  VLM_NM                     151617 non-null   object
 19  PBLICTE_DE                 2364 non-null     object
 20  ADTION_SMBL_NM             565680 non-null   object
 21  PRC_VALUE                  637524 non-null   float64
 22  IMAGE_URL                  595834 non-null   object
 23  BOOK_INTRCN_CN             546277 non-null   object
 24  KDC_NM                     592203 non-null   object
 25  TITLE_SBST_NM              660224 non-null   object
 26  AUTHR_SBST_NM              300169 non-null   object
 27  TWO_PBLICTE_DE             627509 non-null   object
 28  INTNT_BOOKST_BOOK_EXST_AT  733278 non-null   object
 29  PORTAL_SITE_BOOK_EXST_AT   733278 non-null   object
 30  ISBN_NO_y                  566156 non-null   object
dtypes: float64(3), int64(5), object(23)
memory usage: 260.9+ MB

In [20]:
merged_main.head()

,BOOK_MASTR_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_CO,MXMM_LON_HALFLIFE_CO,AVRG_LON_HALFLIFE_CO,BOOK_CO,?master_seq,ISBN_THIRTEEN_NO,vol,TITLE_NM,...,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO_y
0,116165,9788975486456,2765,5281,4463,8,NaN,9788975486456,NaN,(L=MS²학문의 기원)學習學,...,16000.0,http://image.aladin.co.kr/product/30/12/cover/...,학습학 사상과 원형을 탐구한 책. 배우고 익히는 인간의 아름다움과 동시에 실천이라는...,370.0,lms²학문의기원學習學,NaN,2001-09-25,Y,Y,8975486451
1,116168,9788976820624,807,6521,4891,43,NaN,9788976820624,NaN,골콘다,...,12000.0,http://image.aladin.co.kr/product/30/4/cover/8...,30년 넘게 미국 대학에서 금융.증권의 교재로 쓰이던 는 1920년~1938년의 월...,327.85,골콘다,NaN,2001-10-15,Y,Y,8976820622
2,116171,9788977990401,835,6759,4555,60,NaN,9788977990401,NaN,건축기술 실무이야기:건축구조·시공/신기술·신공법,...,24000.0,http://image.aladin.co.kr/product/28/98/cover/...,건축기술 지침서. 건축구조 지식의 학습과 적용에 대한 의식전환이 필요하다는 인식하에...,542.0,건축기술실무이야기건축구조·시공신기술·신공법,삼성물산건설부문저,2001-07-25,Y,Y,8977990408
3,116175,9788972783497,2566,4133,3334,7,NaN,9788972783497,NaN,(일상으로 본)조선시대 이야기,...,NaN,NaN,NaN,911.05,일상으로본조선시대이야기,NaN,NaN,Y,Y,8972783498(세트)
4,116177,9788932105635,2806,2806,2806,1,NaN,9788932105635,NaN,주님의 기도:해설,...,5800.0,http://image.aladin.co.kr/product/29/95/cover/...,별다른 의미 없이 기도를 반복하는 신자들을 위해 영혼들에게 깨달음을 주는 기도해설서...,233.69,주님의기도해설,NaN,2001-10-10,Y,Y,8932105634

In [33]:
merged_main.to_csv('Details2.csv', index = False)

In [22]:
merged_main[merged_main["AUTHR_NM"].isnull()].sample(10)

,BOOK_MASTR_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_CO,MXMM_LON_HALFLIFE_CO,AVRG_LON_HALFLIFE_CO,BOOK_CO,?master_seq,ISBN_THIRTEEN_NO,vol,TITLE_NM,...,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,TITLE_SBST_NM,AUTHR_SBST_NM,TWO_PBLICTE_DE,INTNT_BOOKST_BOOK_EXST_AT,PORTAL_SITE_BOOK_EXST_AT,ISBN_NO_y
1034238,3880998,9788953908291,3713,3713,3713,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033706,3879314,9791156300281,585,1772,893,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
848440,3159642,9789810983529,91,1437,634,118,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186900,1198282,9788996687511,1354,3456,2979,20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263365,1817773,9788978810715,4151,6688,5599,9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172755,1149123,9788972839323,2869,2869,2869,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826000,3089823,9780545256384,506,2184,1313,7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
726307,2838333,9788993546842,2224,2862,2446,6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546804,2551796,9781444918168,1050,1050,1050,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
730672,2844371,9788996442712,1851,1851,1851,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
merged_main[merged_main["KDC_NM"].isnull()]

,BOOK_MASTR_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_CO,MXMM_LON_HALFLIFE_CO,AVRG_LON_HALFLIFE_CO,BOOK_CO,ISBN_THIRTEEN_NO,TITLE_NM,AUTHR_NM,PUBLISHER_NM,SEQ_NO,ADTION_SMBL_NM,PRC_VALUE,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM
291,117710,9780071357692,5018,5018,5018,1,9780071357692,How to pick stocks like Warren Buffett:profiti...,Timothy Vick,McGraw-Hill,117710.0,NaN,33350.0,http://image.aladin.co.kr/product/123/30/cover...,"A10,000 INVESTMENT IN WARREN BUFFETT'S ORIGINA...",NaN
292,117790,9780446677455,1226,5044,3018,6,9780446677455,"Rich dad, poor dad:what the rich teach their k...",by Robert T. Kiyosaki with Sharon L. Lechter,Warner Books,117790.0,NaN,23170.0,http://image.aladin.co.kr/product/29/42/cover/...,로버트 기요사키의 베스트셀러 '>의 영문판 원서. 돈과 투자에 대한 적극적이고 긍정...,NaN
293,118030,9781563976148,2132,2132,2132,1,9781563976148,(The)royal bee,by Frances Park;illustrations by Christopher Z...,Boyds Mills Press,118030.0,NaN,19490.0,http://image.aladin.co.kr/product/123/99/cover...,"Over a century ago, a young boy in Korea wante...",NaN
294,118089,9781578511440,4239,4239,4239,1,9781578511440,Harvard business review on brand management,Harvard Business Review Staff,Harvard Business School Press,118089.0,NaN,30080.0,http://image.aladin.co.kr/product/121/79/cover...,"WITH THE INCREASING GLOBALIZATION OF BRANDS, E...",NaN
295,118188,9780471353997,4072,4072,4072,1,9780471353997,Kellogg on marketing,"The Kellogg Marketing Faculty, Northwestern Un...",Wiley,118188.0,NaN,36590.0,http://image.aladin.co.kr/product/110/35/cover...,PRAISE FOR KELLOGG ON MARKETING&quot;THE KELLO...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103195,5939660,9781590695521,1809,1809,1809,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1103196,5939668,9788925922959,4289,4289,4289,1,9788925922959,일지매,최정주 지음,세시,5939668.0,03810,NaN,NaN,NaN,NaN
1103197,5939669,9788910579175,3897,3897,3897,1,9788910579175,도전 골든벨.,이병무 글,파랑새,5939669.0,77810,NaN,NaN,NaN,NaN
1103198,5939681,9788930238292,171,171,171,1,9788930238292,(Why?) 스승과 제자,글: 이근,예림당,5939681.0,74080,NaN,NaN,NaN,NaN
1103271,5952747,9785717700771,10,10,10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#merged_main.drop(['vol','VLM_NM','TITLE_SBST_NM','AUTHR_SBST_NM','TWO_PBLICTE_DE','INTNT_BOOKST_BOOK_EXST_AT','PORTAL_SITE_BOOK_EXST_AT','ISBN_NO_y'],axis=1, inplace=True)

In [31]:
#merged_main.drop('PRC_VALUE', axis=1, inplace=True)

In [32]:
merged_main.isnull().sum()

BOOK_MASTR_SEQ_NO            0
ISBN_NO                      0
MUMM_LON_HALFLIFE_CO         0
MXMM_LON_HALFLIFE_CO         0
AVRG_LON_HALFLIFE_CO         0
BOOK_CO                      0
ISBN_THIRTEEN_NO        361664
TITLE_NM                361664
AUTHR_NM                366491
PUBLISHER_NM            411513
SEQ_NO                  361664
ADTION_SMBL_NM          537603
IMAGE_URL               507449
BOOK_INTRCN_CN          557006
KDC_NM                  511080
dtype: int64