In [1]:
import pandas as pd

In [11]:
df_Half = pd.read_csv("data/NL_LON_HALFLIFE_202008.csv")

C:\Users\whdrk\AppData\Local\Temp\ipykernel_7136\1589774752.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Half = pd.read_csv("data/NL_LON_HALFLIFE_202008.csv")

In [12]:
df_Half.head()

,SPECIES_MASTER_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_NO,MXM_LON_HALFLIFE_NO,AVRG_LON_HALFLIFE_NO,BOOK_CO
0,116165,9788975486456,2492,5008,4183,9
1,136707,9788952720016,3840,5631,4736,3
2,116168,9788976820624,534,6098,4553,37
3,116171,9788977990401,562,6483,4212,52
4,116175,9788972783497,2293,3175,2715,5

In [19]:
df_Detail_2019 = pd.read_csv("C:/Users/whdrk/OneDrive/바탕 화면/팀프로젝트-도서추천/도서별 상세/NL_bo_species_master_new_2019.csv")

ParserError: Error tokenizing data. C error: Expected 11 fields in line 783401, saw 16

In [18]:
df_Detail_2019 = df_Detail_2019.dropna

NameError: name 'df_Detail_2019' is not defined