In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("searchword.csv")
df2 = pd.read_csv("usedata.csv")

c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (11,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
df3 = pd.read_csv("Details2.csv")

c:\Users\mkh08\miniconda3\envs\py3.10\lib\site-packages\IPython\core\interactiveshell.py:3505: DtypeWarning: Columns (11,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df1.head()

,Unnamed: 0,ISBN_NO,Combined
0,0,1111111111111,영어학습
1,1,2090000056501,"매일, 고전, 하이쿠, 삼국유사, 동양고전, 하루, 열하일기, 논어, 민음사편집부,..."
2,2,2090000063035,"편리, 이미지, 일력, 쓰기, 옛글, 느낌, 문장, 하이쿠, 논어, 차고, 사용, ..."
3,3,8801748054605,"밤하늘, 여전, 사진, 밑그림, 비행접시, 자신, 부록, 사이, 반짝, 우주, 바탕..."
4,4,8803581200010,"다양, 새해인사, 포토북, 기념일, 문장, 특전, 인증카드, 날짜, 시집, 스티커,..."

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735962 entries, 0 to 735961
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ISBN_NO  735962 non-null  int64
 1   LON_CO   735962 non-null  int64
dtypes: int64(2)
memory usage: 11.2 MB

In [25]:
df2 = df2[['ISBN_NO','LON_CO']]

In [31]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735962 entries, 0 to 735961
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ISBN_NO  735962 non-null  int64
 1   LON_CO   735962 non-null  int64
dtypes: int64(2)
memory usage: 11.2 MB

In [19]:
df3 = df3.dropna(subset=['KDC_NM'])

In [27]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592203 entries, 0 to 1103282
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BOOK_MASTR_SEQ_NO     592203 non-null  int64
 1   ISBN_NO               592203 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  592203 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  592203 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  592203 non-null  int64
 5   BOOK_CO               592203 non-null  int64
 6   ISBN_THIRTEEN_NO      592203 non-null  float64
 7   TITLE_NM              592203 non-null  object
 8   AUTHR_NM              589566 non-null  object
 9   PUBLISHER_NM          544871 non-null  object
 10  SEQ_NO                592203 non-null  float64
 11  ADTION_SMBL_NM        547708 non-null  object
 12  IMAGE_URL             458021 non-null  object
 13  BOOK_INTRCN_CN        441178 non-null  object
 14  KDC_NM                592203 non-null  object
dtypes: float64(2), int64(6), object(7)
memory usage: 72.3+ MB

In [33]:
df4 = pd.merge(df3, df2, on="ISBN_NO", how='inner')

In [34]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531802 entries, 0 to 531801
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BOOK_MASTR_SEQ_NO     531802 non-null  int64
 1   ISBN_NO               531802 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  531802 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  531802 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  531802 non-null  int64
 5   BOOK_CO               531802 non-null  int64
 6   ISBN_THIRTEEN_NO      531802 non-null  float64
 7   TITLE_NM              531802 non-null  object
 8   AUTHR_NM              531774 non-null  object
 9   PUBLISHER_NM          528668 non-null  object
 10  SEQ_NO                531802 non-null  float64
 11  ADTION_SMBL_NM        521645 non-null  object
 12  IMAGE_URL             448132 non-null  object
 13  BOOK_INTRCN_CN        435702 non-null  object
 14  KDC_NM                531802 non-null  object
 15  LON_CO                531802 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 69.0+ MB

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128584 entries, 0 to 128583
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ISBN_NO   128584 non-null  object
 1   Combined  128584 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [36]:
df1.drop('Unnamed: 0', axis=1, inplace=True)

In [43]:
df4['ISBN_NO']= df4['ISBN_NO'].astype(str)

In [44]:
df = pd.merge(df4, df1, on="ISBN_NO", how="left")

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532952 entries, 0 to 532951
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BOOK_MASTR_SEQ_NO     532952 non-null  int64
 1   ISBN_NO               532952 non-null  object
 2   MUMM_LON_HALFLIFE_CO  532952 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  532952 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  532952 non-null  int64
 5   BOOK_CO               532952 non-null  int64
 6   ISBN_THIRTEEN_NO      532952 non-null  float64
 7   TITLE_NM              532952 non-null  object
 8   AUTHR_NM              532924 non-null  object
 9   PUBLISHER_NM          529818 non-null  object
 10  SEQ_NO                532952 non-null  float64
 11  ADTION_SMBL_NM        522791 non-null  object
 12  IMAGE_URL             449282 non-null  object
 13  BOOK_INTRCN_CN        436845 non-null  object
 14  KDC_NM                532952 non-null  object
 15  LON_CO                532952 non-null  int64
 16  Combined              76835 non-null   object
dtypes: float64(2), int64(6), object(9)
memory usage: 73.2+ MB

In [54]:
df.to_csv("total.csv")

In [52]:
# 첫 번째 글자 추출하는 함수 정의
def get_first_character(data):
    return str(data)[0]

# 첫 번째, 두 번째 글자 추출하는 함수 정의
def get_first_two_characters(data):
    return str(data)[:2]

def get_fst_characters(data):
    return str(data)[:3]

# 첫 번째 글자 추출하여 새로운 칼럼 생성
df['KDC_1'] = df['KDC_NM'].apply(get_first_character)

# 첫 번째, 두 번째 글자 추출하여 새로운 칼럼 생성
df['KDC_12'] = df['KDC_NM'].apply(get_first_two_characters)

df['KDC_123'] = df['KDC_NM'].apply(get_fst_characters)

In [53]:
df

,BOOK_MASTR_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_CO,MXMM_LON_HALFLIFE_CO,AVRG_LON_HALFLIFE_CO,BOOK_CO,ISBN_THIRTEEN_NO,TITLE_NM,AUTHR_NM,PUBLISHER_NM,SEQ_NO,ADTION_SMBL_NM,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,LON_CO,Combined,KDC_1,KDC_12,KDC_123
0,116165,9788975486456,2765,5281,4463,8,9.788975e+12,(L=MS²학문의 기원)學習學,韓駿相 著,학지사,116165.0,93370.0,http://image.aladin.co.kr/product/30/12/cover/...,학습학 사상과 원형을 탐구한 책. 배우고 익히는 인간의 아름다움과 동시에 실천이라는...,370.0,369,NaN,3,37,370
1,116168,9788976820624,807,6521,4891,43,9.788977e+12,골콘다,존 브룩스 지음;이동진 옮김,그린비,116168.0,3320.0,http://image.aladin.co.kr/product/30/4/cover/8...,30년 넘게 미국 대학에서 금융.증권의 교재로 쓰이던 는 1920년~1938년의 월...,327.85,837,NaN,3,32,327
2,116171,9788977990401,835,6759,4555,60,9.788978e+12,건축기술 실무이야기:건축구조·시공/신기술·신공법,삼성물산 건설부문 저,공간예술사,116171.0,93540.0,http://image.aladin.co.kr/product/28/98/cover/...,건축기술 지침서. 건축구조 지식의 학습과 적용에 대한 의식전환이 필요하다는 인식하에...,542.0,1234,NaN,5,54,542
3,116175,9788972783497,2566,4133,3334,7,9.788973e+12,(일상으로 본)조선시대 이야기,정연식 지음,청년사,116175.0,3900.0,NaN,NaN,911.05,152,NaN,9,91,911
4,116177,9788932105635,2806,2806,2806,1,9.788932e+12,주님의 기도:해설,로마노 구아르디니 저;이석은 역,가톨릭출판사,116177.0,3230.0,http://image.aladin.co.kr/product/29/95/cover/...,별다른 의미 없이 기도를 반복하는 신자들을 위해 영혼들에게 깨달음을 주는 기도해설서...,233.69,187,NaN,2,23,233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532947,5860447,9791187993803,32,40,36,4,9.791188e+12,(슈퍼개미 김정환에게 배우는) 나의 첫 투자 수업,"김정환,김이안 지음",트러스트북스,5860447.0,3320.0,https://image.aladin.co.kr/product/26358/75/co...,"유튜브 채널 개설 5개월 만에 구독자 45만 돌파, 주린이들의 절대적 지지를 받고 ...",327.856,8687,NaN,3,32,327
532948,5882705,9791159290725,53,53,53,2,9.791159e+12,초등 자율의 힘 :아이들이 스스로 움직이는 교실의 비밀,윤지영 지음,I-scream(아이스크림미디어),5882705.0,3370.0,https://bookthumb-phinf.pstatic.net/cover/180/...,"“온라인 시대에 더욱 중요해진 스스로 하는 힘, 자율!”&#x0D;스스로 하는 습관...",375.3,979,NaN,3,37,375
532949,5929593,9791190234139,6,6,6,1,9.791190e+12,보이지 않는 것들,로이 야콥센 지음 ;공민희 옮김,잔,5929593.0,3850.0,https://image.aladin.co.kr/product/26548/89/co...,가족의 유일한 터전이자 그들의 성을 따서 이름 지어진 바뢰이섬. 한스는 그의 아버지...,859.82,578,NaN,8,85,859
532950,5930481,9788954677837,6,6,6,1,9.788955e+12,더 좋은 곳으로 가자 :능력에 요령을 더하면 멋지게 갈 수 있다,정문정 지음,문학동네,5930481.0,3810.0,https://image.aladin.co.kr/product/26602/23/co...,&lt;무례한 사람에게 웃으며 대처하는 법&gt; 작가 정문정 산문집. 성장하는 데...,818.0,3270,NaN,8,81,818
532951,5955207,9791197226113,84,84,84,1,9.791197e+12,설민석의 세계사 대모험,"글: 설민석,그림: 박성일",단꿈아이,5955207.0,77900.0,NaN,NaN,909.0,25,NaN,9,90,909