In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("searchword.csv")
df2 = pd.read_csv("usedata.csv")

In [3]:
df3 = pd.read_csv("Details2.csv")

C:\Users\mkh08\AppData\Local\Temp\ipykernel_1516\3792208404.py:1: DtypeWarning: Columns (11,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv("Details2.csv")

In [5]:
df2['LON_CO'].describe()

count    735962.000000
mean       1731.929846
std        4971.763765
min           1.000000
25%          95.000000
50%         364.000000
75%        1444.000000
max      461247.000000
Name: LON_CO, dtype: float64

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735962 entries, 0 to 735961
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            735962 non-null  int64
 1   BOOK_MASTR_SEQ_NO     735962 non-null  float64
 2   ISBN_NO               735962 non-null  int64
 3   MUMM_LON_HALFLIFE_CO  735962 non-null  int64
 4   MXMM_LON_HALFLIFE_CO  735962 non-null  int64
 5   AVRG_LON_HALFLIFE_CO  735962 non-null  int64
 6   BOOK_CO               735962 non-null  int64
 7   CTRL_NO               735962 non-null  object
 8   ISBN_THIRTEEN_NO      735962 non-null  int64
 9   TITLE_NM              735962 non-null  object
 10  AUTHR_NM              735962 non-null  object
 11  PUBLISHER_NM          735962 non-null  object
 12  PBLCATE_DE            735960 non-null  object
 13  IMAGE_URL             630919 non-null  object
 14  LON_CO                735962 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 84.2+ MB

In [7]:
df2 = df2[['ISBN_NO','LON_CO']]

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735962 entries, 0 to 735961
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ISBN_NO  735962 non-null  int64
 1   LON_CO   735962 non-null  int64
dtypes: int64(2)
memory usage: 11.2 MB

In [9]:
df3 = df3.dropna(subset=['KDC_NM'])

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592203 entries, 0 to 1103282
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BOOK_MASTR_SEQ_NO     592203 non-null  int64
 1   ISBN_NO               592203 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  592203 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  592203 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  592203 non-null  int64
 5   BOOK_CO               592203 non-null  int64
 6   ISBN_THIRTEEN_NO      592203 non-null  float64
 7   TITLE_NM              592203 non-null  object
 8   AUTHR_NM              589566 non-null  object
 9   PUBLISHER_NM          544871 non-null  object
 10  SEQ_NO                592203 non-null  float64
 11  ADTION_SMBL_NM        547708 non-null  object
 12  IMAGE_URL             458021 non-null  object
 13  BOOK_INTRCN_CN        441178 non-null  object
 14  KDC_NM                592203 non-null  object
dtypes: float64(2), int64(6), object(7)
memory usage: 72.3+ MB

In [11]:
df4 = pd.merge(df3, df2, on="ISBN_NO", how='inner')

In [12]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531802 entries, 0 to 531801
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BOOK_MASTR_SEQ_NO     531802 non-null  int64
 1   ISBN_NO               531802 non-null  int64
 2   MUMM_LON_HALFLIFE_CO  531802 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  531802 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  531802 non-null  int64
 5   BOOK_CO               531802 non-null  int64
 6   ISBN_THIRTEEN_NO      531802 non-null  float64
 7   TITLE_NM              531802 non-null  object
 8   AUTHR_NM              531774 non-null  object
 9   PUBLISHER_NM          528668 non-null  object
 10  SEQ_NO                531802 non-null  float64
 11  ADTION_SMBL_NM        521645 non-null  object
 12  IMAGE_URL             448132 non-null  object
 13  BOOK_INTRCN_CN        435702 non-null  object
 14  KDC_NM                531802 non-null  object
 15  LON_CO                531802 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 69.0+ MB

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128584 entries, 0 to 128583
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  128584 non-null  int64
 1   ISBN_NO     128584 non-null  object
 2   Combined    128584 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.9+ MB

In [14]:
df1.drop('Unnamed: 0', axis=1, inplace=True)

In [15]:
df4['ISBN_NO']= df4['ISBN_NO'].astype(str)

In [16]:
df = pd.merge(df4, df1, on="ISBN_NO", how="left")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532952 entries, 0 to 532951
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BOOK_MASTR_SEQ_NO     532952 non-null  int64
 1   ISBN_NO               532952 non-null  object
 2   MUMM_LON_HALFLIFE_CO  532952 non-null  int64
 3   MXMM_LON_HALFLIFE_CO  532952 non-null  int64
 4   AVRG_LON_HALFLIFE_CO  532952 non-null  int64
 5   BOOK_CO               532952 non-null  int64
 6   ISBN_THIRTEEN_NO      532952 non-null  float64
 7   TITLE_NM              532952 non-null  object
 8   AUTHR_NM              532924 non-null  object
 9   PUBLISHER_NM          529818 non-null  object
 10  SEQ_NO                532952 non-null  float64
 11  ADTION_SMBL_NM        522791 non-null  object
 12  IMAGE_URL             449282 non-null  object
 13  BOOK_INTRCN_CN        436845 non-null  object
 14  KDC_NM                532952 non-null  object
 15  LON_CO                532952 non-null  int64
 16  Combined              76835 non-null   object
dtypes: float64(2), int64(6), object(9)
memory usage: 73.2+ MB

In [18]:
# 첫 번째 글자 추출하는 함수 정의
def get_first_character(data):
    return str(data)[0]

# 첫 번째, 두 번째 글자 추출하는 함수 정의
def get_first_two_characters(data):
    return str(data)[:2]

def get_fst_characters(data):
    return str(data)[:3]

# 첫 번째 글자 추출하여 새로운 칼럼 생성
df['KDC_1'] = df['KDC_NM'].apply(get_first_character)

# 첫 번째, 두 번째 글자 추출하여 새로운 칼럼 생성
df['KDC_12'] = df['KDC_NM'].apply(get_first_two_characters)

df['KDC_123'] = df['KDC_NM'].apply(get_fst_characters)

In [19]:
df[df['MUMM_LON_HALFLIFE_CO']>100000]

,BOOK_MASTR_SEQ_NO,ISBN_NO,MUMM_LON_HALFLIFE_CO,MXMM_LON_HALFLIFE_CO,AVRG_LON_HALFLIFE_CO,BOOK_CO,ISBN_THIRTEEN_NO,TITLE_NM,AUTHR_NM,PUBLISHER_NM,SEQ_NO,ADTION_SMBL_NM,IMAGE_URL,BOOK_INTRCN_CN,KDC_NM,LON_CO,Combined,KDC_1,KDC_12,KDC_123
155305,1279683,9788981070519,701777,701777,701777,1,9.788981e+12,朝鮮後期 歷史地理學 硏究,朴仁鎬 著,以會文化社,1279683.0,93910.0,NaN,조선 후기에 편찬된 역사서 가운데 역사지리 방면에 전문성을 지닌 책들을 대상으로 ...,981.1,39,NaN,9,98,981
172843,1332391,9788986596120,701979,701979,701979,1,9.788987e+12,상처 받은 영혼들에게 띄우는 편지,김영근 지음,기가연,1332391.0,3230.0,NaN,"실패한 아들에게 격려를, 느낌이 좋지 않은 사람을 만날 때, 왜 가까운 사람들에게 ...",235.35,64,NaN,2,23,235

In [20]:
df['MUMM_LON_HALFLIFE_CO'][155305] = 777
df['MXMM_LON_HALFLIFE_CO'][155305] = 777
df['AVRG_LON_HALFLIFE_CO'][155305] = 777

C:\Users\mkh08\AppData\Local\Temp\ipykernel_12616\1224130881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MUMM_LON_HALFLIFE_CO'][155305] = 777
C:\Users\mkh08\AppData\Local\Temp\ipykernel_12616\1224130881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MXMM_LON_HALFLIFE_CO'][155305] = 777
C:\Users\mkh08\AppData\Local\Temp\ipykernel_12616\1224130881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AVRG_LON_HALFLIFE_CO'][155305] = 777

In [21]:
df['MUMM_LON_HALFLIFE_CO'][172843] = 979
df['MXMM_LON_HALFLIFE_CO'][172843] = 979
df['AVRG_LON_HALFLIFE_CO'][172843] = 979

C:\Users\mkh08\AppData\Local\Temp\ipykernel_12616\487037168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MUMM_LON_HALFLIFE_CO'][172843] = 979
C:\Users\mkh08\AppData\Local\Temp\ipykernel_12616\487037168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MXMM_LON_HALFLIFE_CO'][172843] = 979
C:\Users\mkh08\AppData\Local\Temp\ipykernel_12616\487037168.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AVRG_LON_HALFLIFE_CO'][172843] = 979

In [28]:
df.to_csv("total.csv")

In [24]:
df.columns

Index(['BOOK_MASTR_SEQ_NO', 'ISBN_NO', 'MUMM_LON_HALFLIFE_CO',
       'MXMM_LON_HALFLIFE_CO', 'AVRG_LON_HALFLIFE_CO', 'BOOK_CO',
       'ISBN_THIRTEEN_NO', 'TITLE_NM', 'AUTHR_NM', 'PUBLISHER_NM', 'SEQ_NO',
       'ADTION_SMBL_NM', 'IMAGE_URL', 'BOOK_INTRCN_CN', 'KDC_NM', 'LON_CO',
       'Combined', 'KDC_1', 'KDC_12', 'KDC_123'],
      dtype='object')

In [29]:
db = df[['ISBN_NO', 'MUMM_LON_HALFLIFE_CO','TITLE_NM','AUTHR_NM','PUBLISHER_NM','BOOK_INTRCN_CN','Combined','KDC_1']]

In [57]:
db.to_csv('db.csv', encoding="utf8")

In [58]:
db.to_json("db.json", orient = 'table)

In [60]:
test_db = db.head()

In [62]:
test_db.to_csv('test_db.csv', encoding="utf8")

In [61]:
test_db.to_json("test_db.json", orient = 'table')

In [37]:
# !pip install sqlalchemy 
#!pip install pymysql

Requirement already satisfied: pymysql in c:\users\mkh08\miniconda3\envs\py3.10\lib\site-packages (1.0.3)

In [40]:
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import MySQLdb

In [49]:
def DBconnect():
    global cur, conn
    try:
        conn = pymysql.connect(host='localhost', user='root', password='1234', db='library', charset='utf8')
        cur = conn.cursor()
        print("database connect success")
        return cur, conn
    except Exception as error:
        print(str(error))

def dbcommit():
    try:
        conn.commit()
    except:
        print("에러: ", "데이터 베이스 연결되어 있지 않음")

def dbdisconnect():
    try:
        conn.close()
        cur.close()
        print("연결 종료")
    except:
        print("연결이 되어있지 않음")

def upload_df_to_db(df, table_name):
    try:
        DBconnect()
        df.to_sql(name=table_name, con=conn, if_exists='replace', index=False)
        dbcommit()
    except Exception as error:
        print(str(error))
    finally:
        dbdisconnect()

try:
    # DBconnect()
    # dbdisconnect()
    upload_df_to_db(db, 'library')
except Exception as error:
    print(str(error))

database connect success
Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting
연결 종료

In [56]:
import pymysql

def DBconnect():
    global cur, conn
    try:
        conn = pymysql.connect(host='localhost', user='root', password='1234', db='library', charset='utf8')
        cur = conn.cursor()
        print("database connect success")
    except Exception as error:
        print(str(error))

def dbcommit():
    try:
        conn.commit()
    except:
        print("에러: ", "데이터 베이스 연결되어 있지 않음")

def dbdisconnect():
    try:
        conn.close()
        cur.close()
        print("연결 종료")
    except:
        print("연결이 되어있지 않음")

def upload_df_to_db(df, table_name):
    try:
        DBconnect()
        df.to_sql(name=table_name, con=conn, if_exists='replace', index=False)
        dbcommit()
    except Exception as error:
        print(str(error))
    finally:
        dbdisconnect()

def main():
    df = pd.DataFrame({'name': ['John Doe', 'Jane Doe', 'John Smith'], 'age': [30, 25, 40]})
    upload_df_to_db(df, 'library')

if __name__ == '__main__':
    main()

database connect success
Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting
연결 종료